/* ===== Configurações Globais ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --accent-color: #f1c40f;
    --bg-light: #f4f7f6;
    --bz-light: #dae1df;
    --color-rondom: #c8d3d0;
    --text-dark: #333;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: var(--text-dark);
    background-color: var(--bg-light);
}

/* ===== TENTATIVA DE CRIAR O HEADER ===== */

header {
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.nav-logo {
    font-weight: 600;
    height: 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--secondary-color);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

/* ===== TENTATIVA DE CRIAR A SECTION HERO ===== */

.hero-section {
    padding: 120px 5% 80px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/verterinario.jpg');
    background-size: cover;       
    background-position: top;  
    background-repeat: no-repeat; 
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    gap: 40px; 
    max-width: 1200px; 
    min-height: 500px;
    width: 100%;
}

.hero-content {
    flex: 1.5; 
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-container h1 {
    font-size: clamp(2.5rem, 5vw, 4rem); 
    margin-bottom: 1rem;
}

.hero-container p {
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 500px; 
}


.hero-img img {
    max-width: 420px; 
    width: 100%;
    height: auto;
}

/* ===== TENTATIVA DE CRIAR A SECTION ABOUT ===== */

.about-section {
    background-color: var(--bg-light);
    width: 100%;
    padding: 80px 5%;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.about-container h2 {
    font-size: 2.5rem;
    padding-top: 10px;
    color: var(--text-dark);
}

.about-container p {
    text-align: center;
    padding-top: 10px;
    line-height: 1.8;
    max-width: 800px;
    padding-bottom: 50px;
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--text-dark);
}

/* ===== TENTATIVA DE CRIAR A SECTION SERVICES ===== */

.service-section { 
    background-color: var(--bz-light);
    width: 100%;
    padding: 80px 5%;
}

.service-content {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 300px;
}

.service-content h2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px
}

.service-card {
    background-color: var(--white);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px); 
}

.service-card h3 {
    font-size: 1rem;
    text-align: center;
    padding-top: 5px;
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #eee;
}

.prices {
    font-size: 1rem;
    font-weight: 500;
    padding: 20px;
}


/* ===== TENTATIVA DE CRIAR A SECTION CONTACT ===== */

.contact-section {
    background-color: var(--bg-light);
    width: 100%;
    padding: 80px 5%;
}

.contact-content h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.contact-content p {
    text-align: center;
    font-size:  1rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--primary-color);
}


.social-media {
    display: flex;
    justify-content: center; 
    flex-direction: row;
    align-items: center;
    gap: 30px;               
    padding: 40px;
}

.social-media img {
    width: 80px;           
    height: 80px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social-media img:hover {
    transform: scale(1.2);   
}

/* ===== TENTATIVA DE CRIAR A SECTION FORM ===== */

.assessment-section {
    background-color: var(--bz-light);
    padding: 80px 5%;
    display: flex;
    justify-content: center;
}

.assessment-form {
    background-color: var(--bg-light);
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.assessment-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /
}

.form-group label {
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--primary-color);
}


.form-group input, 
.form-group select, 
.form-group textarea {
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: var(--white);
}


.form-group input:focus, 
.form-group select:focus, 
.form-group textarea:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.2);
}

.btn-submit {
    width: 100%;
    padding: 15px;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.btn-submit:active {
    transform: translateY(0);
}

textarea {
    resize: vertical;
    min-height: 100px;
}


/* ===== TENTATIVA DE CRIAR O FOOTER ===== */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1200px;
    height: 150px;
    margin: 0 auto;
}

.footer-container p {
    font-size: 1rem;
    font-weight: 500;
    padding-top: 80px;
}